@media screen and (max-width: 390px) {
    /* Estilos para iPhone 13 */
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
}
div{
    width: 100%;
    background-color: rgb(17, 15, 15);
    height: 30px;
}